$withe-trasparent: rgba(255, 255, 255, 0.767);
.withe-trasparent {
  color: $withe-trasparent;
}
$gray-spoty: #121212;
.gray-spoty {
  background-color: $gray-spoty;
}
$black-spoty: #181818;
.black-spoty {
  background-color: $black-spoty;
}
$green-spoty: #1ed760;
.green-spoty {
  background-color: $green-spoty;
}
