body {
  font-family: "Circular";
}

button {
  border: none;
}

.grow-3 {
  flex-grow: 3;
}

.grow-2 {
  flex-grow: 2;
}

.grow-1 {
  flex-grow: 1;
}

.main-content {
  height: calc(100vh - 120px);
}

.freccia-btn-home {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}
.freccia-btn-home svg {
  position: absolute;
  height: 50%;
  width: 50%;
  inset: 0;
  transform: translate(50%, 50%);
}

.dropdown-toggle:not(.no-trasparent)::after {
  border-color: transparent;
}

#aside-left {
  background-color: #000000;
  min-width: 20%;
  padding: 1em;
}
#aside-left div:first-child ul {
  padding: 0;
}
#aside-left div:first-child ul li {
  list-style: none;
  color: white;
  margin-top: 0.5em;
  color: rgba(255, 255, 255, 0.792);
  font-size: 1em;
}
#aside-left div:first-child ul li i {
  width: 15px;
  margin-right: 10px;
}
#aside-left div:first-child ul li img {
  margin-right: 10px;
}
#aside-left hr {
  color: rgba(255, 255, 255, 0.792);
}
#aside-left div:last-child {
  height: 70vh;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
#aside-left div:last-child::-webkit-scrollbar {
  display: none;
}
#aside-left div:last-child ul {
  padding: 0;
  overflow-y: auto;
  list-style: none;
  color: rgba(255, 255, 255, 0.792);
  font-size: 0.9em;
}
#aside-left div:last-child ul li {
  margin-top: 0.5em;
}

#mid {
  overflow: hidden;
  width: 80%;
  flex-grow: 1;
  background-color: #121212;
}
#mid .mid-left {
  width: 80%;
  overflow-y: auto;
}
#mid .mid-left .ombra {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(to bottom, rgba(255, 193, 7, 0.7450980392), transparent);
}
#mid .mid-right {
  height: 100%;
  width: 20%;
  background-color: #000000;
}
#mid .mid-right #section-friends-right {
  padding: 0.5em;
}
#mid .mid-right .fa-user-plus,
#mid .mid-right .fa-times {
  color: rgba(255, 255, 255, 0.792);
}
#mid .mid-right h6 {
  color: rgba(255, 255, 255, 0.792);
  font-size: 0.9em;
}
#mid .mid-right p {
  color: rgba(255, 255, 255, 0.792);
  font-size: 0.8em;
}

header > div > div > div > .freccia-btn-home {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}
header > div > div > div > .freccia-btn-home > svg {
  position: absolute;
  height: 50%;
  width: 50%;
  inset: 0;
  transform: translate(50%, 50%);
}
header div.album-home div h1 {
  font-size: 5em;
}
header div.album-home div div {
  display: flex;
  align-items: end;
}
header div.album-home div div img {
  border-radius: 50%;
}
header div.album-home div div ul {
  padding-left: 3px;
  margin-bottom: 0;
}
header div.album-home div div ul li {
  display: inline-block;
}

main section.album-main-top > button[type=button]#album-play {
  background-color: #1ed760;
  border-radius: 50%;
}
main section.album-main-top > button[type=button]#album-play svg {
  height: 40px;
  width: 40px;
  margin: 0.8em;
}
main section.album-main-top > button[type=button]#album-heart {
  background-color: transparent;
}
main section.album-main-top > button[type=button]#album-heart svg {
  height: 40px;
  width: 40px;
  margin: 0.5em;
  fill: rgb(61, 55, 55);
}
main section.album-main-top > button[type=button]#album-heart div button[type=button]#album-tree-point {
  border-radius: 50%;
  background-color: transparent;
}
main section.album-main-top > button[type=button]#album-heart div button[type=button]#album-tree-point svg {
  height: 40px;
  width: 40px;
  margin: 0.5em;
  fill: rgb(82, 81, 81);
}
main section.album-main-top > button[type=button]#album-heart div button[type=button]#album-hamburger-menu {
  border-radius: 50%;
}
main section.album-main-top > button[type=button]#album-heart div button[type=button]#album-hamburger-menu svg {
  height: 40px;
  width: 40px;
  margin: 0.5em;
  fill: white;
}

#media-player {
  position: relative;
  height: 120px;
  background-color: #181818;
}
#media-player #range-player {
  height: 0.6rem;
}
#media-player #range-player::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
#media-player #range-player::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #ffffff 0%, #ffffff calc(100% - 50px), #494848 calc(100% - 50px), #494848 100%);
  height: 6px;
  border-radius: 5px;
}
#media-player #range-player:hover::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #4caf50 0%, #4caf50 calc(100% - 50px), #494848 calc(100% - 50px), #494848 100%);
}

li {
  color: rgba(255, 255, 255, 0.437);
  margin-inline: 0.5em;
  font-weight: 100;
}
li:hover {
  color: white;
  cursor: pointer;
}
li input[type=range] {
  height: 0.6rem;
}
li input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
li input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #ffffff 0%, #ffffff calc(100% - 50px), #494848 calc(100% - 50px), #494848 100%);
  height: 6px;
  border-radius: 5px;
}
li input[type=range]:hover::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #4caf50 0%, #4caf50 calc(100% - 50px), #494848 calc(100% - 50px), #494848 100%);
}/*# sourceMappingURL=stile.css.map */