.withe-trasparent {
  color: rgba(255, 255, 255, 0.767);
}

.gray-spoty-bg {
  background-color: #2c2c2c;
}

.black-spoty-bg {
  background-color: #181818;
}

.black-spoty-text {
  background-color: #181818;
}

.green-spoty {
  background-color: #1ed760;
}

body {
  font-family: "Circular";
}

.dropdown-toggle:not(.no-trasparent)::after {
  border-color: transparent;
}

ul.dropdown-menu {
  background-color: #2c2c2c;
}
ul.dropdown-menu li a {
  color: white;
}

.dropdown-toggle.no-trasparent {
  border-radius: 50px;
  padding: 0.5em 1em 0.3em;
}

button {
  border: none;
}

.grow-3 {
  flex-grow: 3;
}

.grow-2 {
  flex-grow: 2;
}

.grow-1 {
  flex-grow: 1;
}

.main-content {
  height: calc(100vh - 120px);
}

.ellipsis-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 3em;
  text-overflow: ellipsis;
}

.freccia-btn-artist {
  background-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  background-color: #131313;
}
.freccia-btn-artist svg {
  position: absolute;
  height: 50%;
  width: 50%;
  inset: 0;
  transform: translate(50%, 50%);
  fill: white;
}

.freccia-btn-home {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  background-color: #131313;
}
.freccia-btn-home svg {
  position: absolute;
  height: 50%;
  width: 50%;
  inset: 0;
  transform: translate(50%, 50%);
  fill: white;
}

#aside-left {
  background-color: #000000;
  min-width: 20%;
  padding: 1em;
}
#aside-left div:first-child ul {
  padding: 0;
}
#aside-left div:first-child ul li {
  list-style: none;
  color: white;
  margin-top: 0.5em;
  color: rgba(255, 255, 255, 0.767);
  font-size: 1em;
}
#aside-left div:first-child ul li i {
  width: 15px;
  margin-right: 10px;
}
#aside-left div:first-child ul li img {
  margin-right: 10px;
}
#aside-left hr {
  color: rgba(255, 255, 255, 0.767);
}
#aside-left div:last-child {
  height: 67vh;
  overflow-y: auto;
}
#aside-left div:last-child::-webkit-scrollbar {
  width: 10px;
}
#aside-left div:last-child::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.767);
}
#aside-left div:last-child ul {
  padding: 0;
  overflow-y: auto;
  list-style: none;
  color: rgba(255, 255, 255, 0.767);
  font-size: 0.9em;
}
#aside-left div:last-child ul li {
  margin-top: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mid {
  overflow: hidden;
  flex-grow: 1;
}
#mid .mid-left {
  background-color: #1e1e1e;
  overflow-y: auto;
  flex-grow: 1;
}
#mid .mid-left::-webkit-scrollbar {
  width: 10px;
}
#mid .mid-left::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.767);
}
#mid .mid-left .ombra {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(to bottom, rgba(255, 193, 7, 0.7450980392), transparent);
}
#mid .mid-right {
  height: 100%;
  background-color: #000000;
}
#mid .mid-right #section-friends-right {
  padding: 0.5em;
}
#mid .mid-right .fa-user-plus,
#mid .mid-right .fa-times {
  color: rgba(255, 255, 255, 0.767);
}
#mid .mid-right h6 {
  color: rgba(255, 255, 255, 0.767);
  font-size: 0.9em;
}
#mid .mid-right p {
  color: rgba(255, 255, 255, 0.767);
  font-size: 0.8em;
}

.header-home-bg {
  background: linear-gradient(20deg, #000000 0%, #1e1e1e 70%);
}
.header-home-bg h1 {
  font-size: 3.8em;
}

header > div > div > div > .freccia-btn-home {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}
header > div > div > div > .freccia-btn-home > svg {
  position: absolute;
  height: 50%;
  width: 50%;
  inset: 0;
  transform: translate(50%, 50%);
}
header div.album-home div h1 {
  font-size: 5em;
}
header div.album-home div div {
  display: flex;
  align-items: end;
}
header div.album-home div div img {
  border-radius: 50%;
}
header div.album-home div div ul {
  padding-left: 3px;
  margin-bottom: 0;
}
header div.album-home div div ul li {
  display: inline-block;
}

main section.album-main-top > button[type=button]#album-play {
  position: relative;
  background-color: #1ed760;
  border-radius: 50%;
  height: 5s0px;
  width: 50px;
  height: 50px;
}
main section.album-main-top > button[type=button]#album-play i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.album-main-top > button[type=button]#album-heart {
  background-color: transparent;
}
main section.album-main-top > button[type=button]#album-heart div button[type=button]#album-tree-point {
  border-radius: 50%;
  background-color: transparent;
}
main section.album-main-top > button[type=button]#album-heart div button[type=button]#album-hamburger-menu {
  border-radius: 50%;
}

#media-player {
  position: relative;
  height: 120px;
  background-color: #181818;
}
#media-player #range-player,
#media-player #volume {
  accent-color: rgba(255, 255, 255, 0.767);
  flex-grow: 1;
}
#media-player #range-player:hover,
#media-player #volume:hover {
  accent-color: #1ed760;
  cursor: pointer;
}

li {
  color: rgba(255, 255, 255, 0.767);
  margin-inline: 0.5em;
  font-weight: 100;
}
li:hover {
  color: white;
  cursor: pointer;
}

.header-artist {
  height: 400px;
  background-image: url(../imgs/main/image-10.jpg);
  background-size: cover;
  background-position: center;
}
.header-artist h1 {
  font-size: 4em;
}

#immagineProfilo {
  margin-left: -17px;
  margin-top: -9px;
  margin-bottom: -6px;
  background-color: #0a0a0a;
}

#profileButton {
  background-color: #0a0a0a;
  color: white;
}

#bloccoAnnuncio {
  margin-left: -10px;
}

#heightAnnuncio {
  margin-top: -17px;
}

#borderNone {
  background: transparent;
  border: none;
}

#backgroundNone {
  background: transparent;
  border: none;
  margin-bottom: 15px;
  font-size: 2rem;
}

.play-btn-home {
  background-color: #1ed760;
  padding: 1em 3em;
  margin-right: 2em;
}

#btn-save {
  background: transparent;
  border: 1px solid white;
  margin-right: 2em;
  padding: 1em 3em;
}

.ellipsis {
  font-size: 3em;
}/*# sourceMappingURL=stile.css.map */