.freccia-btn-home {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}
.freccia-btn-home svg {
  position: absolute;
  height: 50%;
  width: 50%;
  inset: 0;
  transform: translate(50%, 50%);
}